[submodule "node_modules/mongoose"]
	path = node_modules/mongoose
	url = http://github.com/LearnBoost/mongoose.git
[submodule "node_modules/multipart"]
	path = node_modules/multipart
	url = http://github.com/isaacs/multipart-js.git
[submodule "node_modules/utils"]
	path = node_modules/utils
	url = http://github.com/kriszyp/commonjs-utils.git
[submodule "node_modules/websocket-client"]
	path = node_modules/websocket-client
	url = http://github.com/pgriess/node-websocket-client.git
[submodule "node_modules/worker"]
	path = node_modules/worker
	url = http://github.com/pgriess/node-webworker.git
[submodule "node_modules/socket.io-client"]
	path = node_modules/socket.io-client
	url = https://github.com/LearnBoost/Socket.IO.git
[submodule "node_modules/socket.io-server"]
	path = node_modules/socket.io-server
	url = https://github.com/LearnBoost/Socket.IO-node.git
[submodule "node_modules/jazz"]
	path = node_modules/jazz
	url = https://github.com/shinetech/jazz.git
[submodule "node_modules/hmvc"]
	path = node_modules/hmvc
	url = https://github.com/mixu/hmvc-cfs.git
[submodule "node_modules/dust"]
	path = node_modules/dust
	url = https://github.com/akdubya/dustjs.git
