[submodule "node_modules/multipart"]
	path = node_modules/multipart
	url = http://github.com/isaacs/multipart-js.git
[submodule "node_modules/utils"]
	path = node_modules/utils
	url = http://github.com/kriszyp/commonjs-utils.git
[submodule "node_modules/websocket-client"]
	path = node_modules/websocket-client
	url = http://github.com/pgriess/node-websocket-client.git
[submodule "node_modules/worker"]
	path = node_modules/worker
	url = http://github.com/pgriess/node-webworker.git
[submodule "node_modules/socket.io-client"]
	path = node_modules/socket.io-client
	url = https://github.com/LearnBoost/Socket.IO.git
[submodule "node_modules/socket.io-server"]
	path = node_modules/socket.io-server
	url = https://github.com/LearnBoost/Socket.IO-node.git
[submodule "node_modules/mongodb"]
	path = node_modules/mongodb
	url = https://github.com/christkv/node-mongodb-native.git
[submodule "node_modules/vows"]
	path = node_modules/vows
	url = https://github.com/cloudhead/vows.git
[submodule "node_modules/should"]
	path = node_modules/should
	url = https://github.com/visionmedia/should.js.git
[submodule "node_modules/expresso"]
	path = node_modules/expresso
	url = https://github.com/visionmedia/expresso.git
[submodule "node_modules/winston"]
	path = node_modules/winston
	url = git://github.com/indexzero/winston.git
[submodule "node_modules/pkginfo"]
	path = node_modules/pkginfo
	url = git://github.com/indexzero/node-pkginfo.git
[submodule "node_modules/node-template"]
	path = node_modules/node-template
	url = git@github.com:jonlb/node-template.git
[submodule "node_modules/stack-trace"]
	path = node_modules/stack-trace
	url = https://github.com/felixge/node-stack-trace.git
[submodule "node_modules/async"]
	path = node_modules/async
	url = https://github.com/caolan/async.git
